<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Repository Viewer</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Top 100 Repository Viewer</h1>
        <h2>By Max Krivonosov</h2>
        <button id="fetchRepos">Fetch All Repositories</button>
        <div id="repoList"></div>
    </div>
    <script src="/static/index.js"></script>
</body>
</html>